#carouselExampleIndicators {
  margin: auto;
  display: block;
  margin-bottom: 100px;
  width: 700px;
}

.carousel-item {
  border: 1px solid whitesmoke;
  border-radius: 50px;
  width: 700px;
  height: 300px;
  background-color: whitesmoke;
}

.carousel-indicators {
  position: absolute;
  display: inline-block;
  margin-left: 295px;
}

.carousel-control-prev-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 60%, 100%;
  border-radius: 40%;
  position: absolute;
  top: 120px;
}
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 60%, 100%;
  border-radius: 40%;
  position: absolute;
  top: 120px;
}
/* .carousel-text {
  color: '#243762',
  fontFamily: 'Trebuchet MS, Lucida Sans Unicode',
} */
